@import './src/assets/scss/variables';

.artist {
  background: #292540;
  margin: $grid-gutter*0.5 0;
  padding: $grid-gutter*0.4 $grid-gutter;
  border-radius: 999px;
  .name {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
  }
}
